/* put stuff here */

.weltitle {
	background-image: url(/img/biglogo.png);
	height: 171px;
	width: 155px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-top: 39px;
	margin-left: 79px;
}

.welcome-page .message {
	text-align: center;
	color: #ffffff;
	height: 75px;
	padding-top: 44px;
	padding-left: 40px;
	padding-right: 40px;
}

.button-wrap {
    position: absolute;
    bottom: 20%;
    width: 100%;
}

.app-content .app-button.login{
    position: relative;
    height: 72px;
    background: #fff;
    color: #30b7de;
    font-size: 20px;
    font-weight: 300;
    line-height: 72px;
}
.welcome-page .app-content{
	background-color: #30b7de;
}
#compose {
	width: 55px;
	height: 44px;
	position: absolute;
	background-size: 29px 19px;
	background-image: url(/img/navplane.png);
	background-repeat: no-repeat;
	background-position: center;
	padding: 0;
	margin: 0;
}

.app-topbar {
	background-color: #30b7de;
}